@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .water {
    overflow: hidden;
    position: relative;
    transition: background-color .5s ease-in-out;
  }

  .water::before {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    left: -50%;
    border-radius: 40%;
    animation: anim 15s linear infinite;
    transition: bottom .5s ease-in-out;
  }

  .water::after {
    content: "";
    width: 204%;
    height: 204%;
    position: absolute;
    left: -52%;
    border-radius: 40%;
    animation: anim 12s linear infinite;
    animation-delay: 0.5s;
    transition: bottom .5s ease-in-out;
  }

  @keyframes anim {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .glassShadow {
    box-shadow: -33px 31px 94px -1px rgba(141,121,209,0.69) inset;
    -webkit-box-shadow: -33px 31px 94px -1px rgba(141,121,209,0.69) inset;
    -moz-box-shadow: -33px 31px 94px -1px rgba(141,121,209,0.69) inset;
  }

}