@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .water {
    overflow: hidden;
    position: relative;
    background-size: 300% 300%;
    transition: all .5s ease-in-out;
    animation: water-anim 5s linear infinite;
  }

  .water::before {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    left: -50%;
    border-radius: 40%;
    animation: anim 15s linear infinite;
    transition: bottom .5s ease-in-out;
  }

  .water::after {
    content: "";
    width: 204%;
    height: 204%;
    position: absolute;
    left: -52%;
    border-radius: 40%;
    animation: anim 12s linear infinite;
    animation-delay: 0.5s;
    transition: bottom .5s ease-in-out;
  }

  .glassShadow {
    box-shadow: -33px 31px 94px -1px rgba(141,121,209,0.69) inset;
    -webkit-box-shadow: -33px 31px 94px -1px rgba(141,121,209,0.69) inset;
    -moz-box-shadow: -33px 31px 94px -1px rgba(141,121,209,0.69) inset;
  }

  @keyframes anim {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .spend {
    animation: spendA 2.5s linear forwards;
  }

  @keyframes spendA {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(0, 50px);
      opacity: 0%;
    }
  }

}

:root {
  --primary-ligth: #cd84f1;
  --secondary-ligth: #7d5fff;

  --primary-dark: #5758BB;
  --secondary-dark: #1B1464;

  --danger-ligth: "red";
  --danger-dark: "red";
}

body {
  --primary: var(--primary-ligth);
  --secondary: var(--secondary-ligth);
}

body.dark {
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
}